@{
    Layout = "_Layout";
    ViewData["Title"] = "Каталог фильмов";
}
<div style="display: grid; place-items: center;">
    <p class="style-text p-limit">
        Здесь будет находиться каталог фильмов.
    </p>
</div>