@{
    Layout = "_Layout";
    ViewData["Title"] = "История фильмов";
}
<div style="display: grid; place-items: center;">
	<p class="style-text p-limit">
		Здесь будет находиться история просмотра фильмов.
	</p>
</div>