@{
    Layout = "_Layout";
    ViewData["Title"] = "Буду смотреть";
}
<div style="display: grid; place-items: center;">
	<p class="style-text p-limit">
		Здесь будут находиться отложенные фильмы.
	</p>
</div>