@page
@model RegisterModel
@{
    Layout = "_LayoutLoginAndRegister";
    ViewData["Title"] = "Регистрация";
}
<h1>Регистрация</h1>
<form method="post">
    <span asp-validation-for="Input.NickName" class="style-validation"></span>
    <div class="block-entering">
        <label asp-for="Input.NickName">Логин</label>
        <input asp-for="Input.NickName" class="input"/>
    </div>
    <span asp-validation-for="Input.Email" class="style-validation"></span>
    <div class="block-entering">
        <label asp-for="Input.Email">Почта</label>
        <input asp-for="Input.Email" class="input"/>
    </div>
    <span asp-validation-for="Input.Password" class="style-validation"></span>
    <div class="block-entering">
        <label asp-for="Input.Password">Пароль</label>
        <input asp-for="Input.Password" type="password" class="input"/>
    </div>
    <span asp-validation-for="Input.ConfirmPassword" class="style-validation"></span>
    <div class="block-entering">
        <label asp-for="Input.ConfirmPassword">Подтверждение</label>
        <input asp-for="Input.ConfirmPassword" type="password" class="input"/>
    </div>
    <div class="registration">
        <button type="submit" class="style-button">Зарегистрироваться</button>
    </div>
</form>
<div class="registration">
    <a asp-page="/Account/Login">Уже есть учетная запись? Войти</a>
</div>
